<section class="text-center content-section" id="contact" style="padding-top: 50px;padding-bottom: 49px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Contact us</h2>
                <p>You can contact us through our social media platforms below or by emailing us at <a
                        href="mailto:{{site.email}}">{{site.email}}</a>.</p>
                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li class="list-inline-item" style="margin-right: 8px;margin-bottom: 20px;">
                        <a class="btn btn-primary btn-lg btn-default" role="button"
                            href="{{ network.url }}" style="width: 175px;">
                            <i class="fa {{ network.fa-icon }} fa-fw"></i>
                            <span class="network-name">{{ network.title }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>