<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">
    {% include_relative frontpage/nav.html %}
    {% include_relative frontpage/header.html %}
    {% include_relative frontpage/about.html %}
    {% include_relative frontpage/mailing-list.html %}
    {% include_relative frontpage/community.html %}
    {% include_relative frontpage/events.html %}
    {% include_relative frontpage/fellowships.html %}
    {% include_relative frontpage/resources.html %}
    {% include_relative frontpage/research-symposium.html %}
    {% include contact.html %}
    {% include js.html %}
    </body>
</html>